{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}AdBazzar Media{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet"> 
    <link href="{% static 'css/lightbox.css' %}" rel="stylesheet"> 
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="{% static 'images/ico/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/ico/apple-touch-icon-57-precomposed.png' %}">
</head><!--/head-->
<body>
    {% block header %}
        {% include 'includes/_header.html' %}
    {% endblock %}

      {% include 'includes/_alerts.html' %}

      {% block content-wrapper %}
            {% block content %}
    <section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slide-text">
                        <h1>Sky&#8217;s the limit !</h1>
                        <p>We believe in making a brand an emotion in the hearts of the people.</p>
                        <a href="#services" class="btn btn-common">MORE Details</a>
                    </div>
                    <img src="{% static 'images/home/slider/hill.png' %}" class="slider-hill" alt="slider image">
                    <img src="{% static 'images/home/slider/house.png' %}" class="slider-house" alt="slider image">
                    <img src="{% static 'images/home/slider/sun.png' %}" class="slider-sun" alt="slider image">
                    <img src="{% static 'images/home/slider/birds1.png' %}" class="slider-birds1" alt="slider image">
                    <img src="{% static 'images/home/slider/birds2.png' %}" class="slider-birds2" alt="slider image">
                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>
    <!--/#home-slider-->

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="https://adbazzar.in/wp-content/uploads/2018/10/LogoMakr_2tOQBY.png" alt="">
                        </div>
                        <h2>Advertising </h2>
                        <p>The advertisement is one of the most important components for the bench marking of a brand&#8217;s value in the market.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="https://adbazzar.in/wp-content/uploads/2018/10/LogoMakr_8MiVXX.png" alt="">
                        </div>
                        <h2>Brand Management</h2>
                        <p>With the collaboration of good strategy and good creativity, branding paves its pathway for a successful online business venture.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="https://adbazzar.in/wp-content/uploads/2018/10/LogoMakr_22A4Xs.png" alt="">
                        </div>
                        <h2>Marketing</h2>
                        <p>ADBAZZAR specialises in the implementation of the correct marketing strategies to enhance the name of the business and make it a brand.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="https://adbazzar.in/wp-content/uploads/2018/10/LogoMakr_90q188.png" alt="">
                        </div>
                        <h2>Exhibitions and Events</h2>
                        <p>Whether it is a form of B2B or B2C or meeting up a corporate branding task, ADBAZAR provides a top-notch solution for your exhibitions and events.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="https://adbazzar.in/wp-content/uploads/2018/10/LogoMakr_3sQ4OM.png" alt="">
                        </div>
                        <h2>Digital Marketing</h2>
                        <p>Build relationships and not links .It is one of the foremost aims of digital marketing.Before implementing the right ideas, it is important to chalk out the strategies.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="https://adbazzar.in/wp-content/uploads/2018/10/LogoMakr_1w0HnH.png" alt="">
                        </div>
                        <h2>Website and Digital Media</h2>
                        <p>In the virtual sphere, we are able to gain all the necessary information and services. A website plays a crucial role in gaining recognition in the online marketing industry.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#services-->

    <section id="action" class="responsive">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action take-tour">
                        <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h1 class="title">Triangle Corporate Template</h1>
                            <p>A responsive, retina-ready &amp; wide multipurpose template.</p>
                        </div>
                        <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="tour-button">
                                <a href="#" class="btn btn-common">TAKE THE TOUR</a>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

   
     <!--/#features-->

    <section id="clients">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <p><img src="{% static 'images/home/clients.png' %}" class="img-responsive" alt=""></p>
                        <h1 class="title">Happy Clients</h1>
                        <p><br></p>
                    </div>
                    <div class="clients-logo wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="{% static 'images/clients/1.jpg' %}" class="img-responsive" alt=""></a>
                        </div>
                        <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="{% static 'images/clients/2.jpg' %}" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="{% static 'images/Clients/3.jpg' %}" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="{% static 'images/clients/4.jpg' %}" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="{% static 'images/clients/5.jpg' %}" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="{% static 'images/clients/6.jpg' %}" class="img-responsive" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </section>
    <!--/#clients-->



            {% endblock %}
      {% endblock %}

      {% include 'includes/_footer.html' %}

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lightbox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>   
</body>
</html>
