 {% extends "base1.html" %}

{% block title %}About Us &middot; {{ block.super }}{% endblock %}

{% block breadcrumb-wrapper %}{% endblock %}
 
{% block content %}
  <div class="contact">
    <section id="page-breadcrumb">
        <div class="vertical-center sun" align="left">
             <div class="container" align="left">
                <div class="row" align="left">
                    <div class="action" align="left">
                        <div class="col-sm-12" align="left">
                            <div id="feature-container" align="left">
                <div class="row" align="left">
                    <div class="col-md-12" align="left">
                        <h2 class="page-header">ALogo Designing</h2>
                    </div>
                    <div class="col-sm-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms" align="left">
                        <div class="feature-inner">
                            <div class="icon-wrapper" align="left">
                                <i class="fa fa-2x fa-envelope-o"></i>
                            </div>
                            <h2>Logos</h2>
                            <p><br>
Logo, the visual identity of an organization - can tell the story of an organization's story to its Audience.
<br>
In every Article or Magazine, you read you will feel the importance of LOGO, that means it is true that it is the face of a company. The logo of any company is symbolic depiction and also tells about company core values and beliefs on which it was founded.<br>
Apart from Digital Marketing, we are also in logo design service. We have a creative and professional team to design your logo and transform it into reality. Our logo design team can create a unique and elite identity for your company that it deserves.<br>

Why AdBazzar for Logo designing?<br><br>

1. Simple: We design a logo that has a simple approach to describe the company, brand or organization clearly.<br>
2. Recognition: We know how branding works, and that's how we strategize and plan to promote your brand so that your customers can recognize by your brand.<br>
3. Attractive: Logos made by us are more appreciating and will keep your brand remembered by everyone.<br>
4. Life long Impressions: Image is crucial that's why our designed logo's for companies leave a lifelong impression.<br>
5. Uniqueness: Create a customized logo so that they can reveal the uniqueness of your business.<br>
6. Affordable: Our logo design packages are cheap and budget-friendly in comparison to other service providers.<br>

AdBazzar - The best logo design service provider in Patiala, offers Corporate logo, business logo,  advertising logo, brochure, postcard, and more logo design services in high-quality, cost-effective and hassle-free way to suit every business needs. <br>

Testimonials:
<br>
1. Adbazzar has a great sense in understanding clients need. The logo for my "Loud Roar Films" I got from them is considerable. My all film production team are happy by the logo service provided by Adbazzar media private ltd. <br>
- LOUD ROAR FILMS<br><br>

2. I am a professional software developer and running a startup in Punjab. There are many logo design service providers I reach for the logo, but none of them are appealing. Lastly, I got in contact with Adbazzar team, and I got the best logo for my company. Thanks, AdBazzar for such innovative work.<br>
- SOFTSMART<br><br>

3. The logo designed by AdBazzar for my organization is good. The team is awesome.<br>
BYE<br><br>
</p>
                        </div>
                    </div>                        
                </div>
            </div><!--/#feature-container-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
  </div>
{% endblock %}
