 {% extends "base1.html" %}

{% block title %}About Us &middot; {{ block.super }}{% endblock %}

{% block breadcrumb-wrapper %}{% endblock %}
 
{% block content %}
  <div class="contact">
    <section id="page-breadcrumb">
        <div class="vertical-center sun" align="left">
             <div class="container" align="left">
                <div class="row" align="left">
                    <div class="action" align="left">
                        <div class="col-sm-12" align="left">
                            <div id="feature-container" align="left">
                <div class="row" align="left">
                    <div class="col-md-12" align="left">
                        <h2 class="page-header">Video Content</h2>
                    </div>
                    <div class="col-sm-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms" align="left">
                        <div class="feature-inner">
                            <div class="icon-wrapper" align="left">
                                <i class="fa fa-2x fa-envelope-o"></i>
                            </div>
                            <h2>Engage Customers like never before through our Professional  Video Editing Services.</h2>
                            <p>Engage Customers like never before through our Professional  Video Editing Services.<br><br><br>

Video generates more lead as compared to Picture and written posts. The simplest yet best funda of video marketing is "The more charming videos you create, the more clients you get." <br>
Video helps in explaining the company products, goals and ambition in a few minutes. It helps in generating revenues. <br><br><br>

AdBazzar Video Editing Services at Patiala can give an extra dimension to your Videos through its Professional  Video Editing Services. Here are a few more reasons, which will make you think:<br>

    • Engaging Videos that can convert clicks into customers.<br>
    • As per clients need<br>
    • On time publish of the video.<br>
    • High-quality work<br>
    • Quality Content on each video that can engage your audience<br>
    • Cost-effective services<br><br><br>
      
OUR PROCESS:
<br><br>
Video strategy<br>
In our video strategy, first of all, we plan on video content that can give a clear and concise message. 2nd create targeted campaigns. 3rd Video Guidelines just like other marketing arsenals.
<br><br>
Video production<br>
Our professional video editor team makes videos that engage, inspire and compel people to act. We create Storytelling, Animation, Explainer, 3D and more.
<br><br>
Video marketing<br>
Apart from creating engaging videos we also work on optimization, like Youtube or any social video sites. 
<br><br>
Types of Video we create?<br><br>

    • Promotional Videos<br>
    • Real Estate Video<br>
    • Non-Profit Video <br>
    • Corporate Videos<br>
    • Training Videos<br>
    • Animation<br>
    • 3D Video<br>
    • VFX<br>
    • Music video<br>
    • Explainer video<br>
    • Advertising Video<br>
    • Short videos<br>

<br><br>
Why Choose Us?<br><br>

PRECISE<br>
We at Adbazzar Guarantee you that you will overwhelm after receiving our services. Our video editing team ensures that each element is captured.<br><br> 

PROFESSIONAL<br>
Adbazzar, Video editing team are professional and Award-winning and mainly known by their excellent work.
<br><br>
PERFECTION<br>
We produce high-quality videos that are genuine and engaging. We deliver videos on time.
<br><br>
Set your firm apart<br>
No Matter who is your competitor, The video you get from us will become the obvious choice in the market.
<br><br>
Grow your brand<br>
To fulfill whatever your need like generating customers or sending a message about our products in the market, we will help you in growing your brand.
<br><br>
Improve search ranking (SEO)<br>
Apart from creating high-quality videos, we have a specialized team of search engine optimization experts who will write quality content for your video and improve your search ranking.
<br><br>



</p>
                        </div>
                    </div>                        
                </div>
            </div><!--/#feature-container-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
  </div>
{% endblock %}
