{% extends 'blog/base.html' %}
{% load static %} 

{% block breadcrumbs %}
  {{ block.super }}
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Blog</h1>
                            <p>Timeline</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#page-breadcrumb-->
{% endblock %}

{% block content %}

 <section id="blog" class="padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-5">
                </div>
                {% for post in posts %}
                <div class="col-md-6 col-sm-7">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="single-blog two-column">
                                <div class="post-thumb">
                                    <a href="blogdetails.html"><img src="images/blog/9.jpg" class="img-responsive" alt=""></a>
                                    <div class="post-overlay">
                                        <span class="uppercase"><a href="#">{{ post.published_date|date:"F j, Y" }}</a></span>
                                    </div>
                                </div>
                                <div class="post-content overflow">
                                    <h2 class="post-title bold"><a href="{% url 'blog:post-detail' slug=post.slug %}">{{ post.title }}</a></h2>
                                    <p>{{ post.snippet|safe }}</p>
                                    <a href="{% url 'blog:post-detail' slug=post.slug %}">Read more &rarr;</a>
                                    <div class="post-bottom overflow">
                                        <ul class="nav navbar-nav post-nav">
                                            <li><a href="#"></a></li>
                                            <li><a href="#"></a></li>
                                            <li><a href="#"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% empty %}
    <h1>Blog</h1>
                      {% endfor %}
    <p>No More posts yet.</p>

                    {% include 'core/includes/_pagination.html' with url_name='blog:post-list' %}
                 </div>
            </div>
        </div>
    </section>
    {% endblock content %}

    <!--/#blog-->



























    <div class="post">
      <h2></h2>

      <div class="date">
        <span class="glyphicon glyphicon-time"></span>
        
      </div>

      

      
    </div>
  


